body.kiosk-mode .o_navbar,
body.kiosk-mode .o_main_navbar,
body.kiosk-mode .o_navbar_apps_menu,
body.kiosk-mode .o_form_statusbar,
body.kiosk-mode .o_control_panel_actions {
  display: none !important;
}

.o_form_view.o_xxl_form_view .o_form_renderer.o_form_editable.d-flex {
    flex-direction: column !important;
    flex-wrap: wrap !important;
}

.o_form_view.o_xxl_form_view .o_form_sheet_bg {
    max-width: 100% !important;
    height: auto !important;
    overflow: visible !important;
}

.o_form_view.o_xxl_form_view .o_form_sheet {
    max-width: 95% !important; 
    width: 100% !important;
    margin: 20px auto !important;
}

.o_form_view.o_xxl_form_view .oe_chatter {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    padding: 20px !important;
}
